/* STYLING FOR MAIN COMPONENT --> APP */
.main-header {
	text-transform: uppercase;
	font-weight: 500;
	background-color: #ffffff;
	padding: 20px 0 20px 0;
	font-size: larger;
	border-bottom: 1px solid black;
}
.container-flex--main {
	width: 90%;
	margin: 30px auto 0 auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.subHeader {
	width: 90%;
	margin: 0 auto;
	padding: 30px 0;
	font-size: xxx-large;
	font-weight: 500;
}
.container-flex--secondary {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
/* STYLING FOR DESCRIPTION COMPONENT */
.description__container {
	width: 50%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}
.description__title {
	font-weight: 600;
	font-size: xx-large;
}
.description__location,
.description__reference,
.description__startDate,
.description__title {
	margin: 10px 0;
}
.type-animation {
	display: block;
	width: fit-content;
	overflow: hidden;
	/* border-right: 0.15em solid black; */
	white-space: nowrap;
	/* margin: 0 auto; */
	letter-spacing: 2px;
	animation: typing 5.5s linear;
	padding-left: 5%;
}
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* STYLING FOR TOTAL COMPONENT */
.total_container {
	background-color: #ffffff;
	border: 1px solid black;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 45%;
	padding: 50px 0;
}
.total__price {
	font-size: xxx-large;
	font-weight: 600;
}
.total__monthly-yearly {
	font-weight: 500;
}
.total__button {
	padding: 15px 0;
	font-weight: 800;
	cursor: pointer;
	border-radius: 10px;
	font-size: larger;
}
.total__price,
.total__monthly-yearly,
.total__description,
.total__button {
	text-align: center;
	margin: 10px auto;
	width: 50%;
	transition: 0.5s;
}
.total__monthly-yearly,
.total__price {
	margin: 0 auto;
}
.Show-Total {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: -60px;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: #ffffff;
	z-index: 999;
	transition: 0.7s;
	padding: 10px 5%;
}
.Show-Total--visible {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	top: 0;
}
.Show-Total > h1 {
	font-size: medium;
}
.Show-Total > img {
	display: block;
}
/* STYLING FOR OPTION COMPONENT */
.option__container {
	background-color: #ffffff;
	border: 1px solid black;
	padding: 20px;
	height: 450px;
	width: 45%;
	margin-bottom: 30px;
	position: relative;
}
.option__container-flex {
	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;
	justify-content: space-between;
	margin-bottom: 30px;
}
.option__description {
	font-size: large;
	font-weight: 400;
}
.option__title {
	font-weight: 400;
}
.option__price {
	font-size: large;
	text-align: end;
}
.option__button {
	width: 300px;
	cursor: pointer;
	font-size: x-large;
	font-weight: 600;
	padding: 10px;
	border-radius: 10px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	transition: transform 0.5s, background-color 0.5s, color 0.5s;
	animation-name: addons;
	animation-duration: 2s;
}

.option__selected {
	background-color: #dc3545;
	color: #ffffff;
}

/* MODAL Classes */
.modal-container {
	background-color: #50c878;
	position: fixed;
	bottom: 20px;
	right: 5%;
	padding: 10px;
	border-radius: 15px;
	width: 250px;
	transition: 0.5s;
}
.modal-container--hidden {
	right: -300px;
}

.modal-container > p {
	color: #ffffff;
	text-align: center;
}
.modal-container > p > span {
	font-weight: 800;
	font-size: large;
}
.GoTopPage {
	position: fixed;
	bottom: 20px;
	left: 5%;
	z-index: 999;
	opacity: 0;
	transition: 0.6s;
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.GoTopPage-visible {
	opacity: 1;
}
.GoTopPage > .css-i4bv87-MuiSvgIcon-root {
	padding: 5px;
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	border-radius: 50%;
	box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
.total__button:hover,
.option__button:hover {
	background-color: rgba(166, 166, 166, 0.7);
}
.option__selected:hover {
	background-color: rgba(221, 20, 40, 0.7);
}
.address-invisible {
	display: none;
}
.description__addressContainer {
	display: flex;
	align-items: center;
}
.Change-Btn {
	cursor: pointer;
	margin-left: 20px;
	text-decoration: underline;
	font-style: italic;
	font-size: 10px;
	color: #343a40;
	font-weight: 700;
	letter-spacing: 2px;
	width: fit-content;
}
.Change-Btn::before {
	content: "\2192";
}
.description__location {
	width: 100%;
	display: flex;
	align-items: center;
	width: fit-content;
}
.description__location > span {
	padding: 5px 10px 5px 0;
	position: relative;
}
.description__location > span::before {
	content: "";
	position: absolute;
	width: 0;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: black;
}

.set-address {
	margin-left: 30px;
}
.set-address > input {
	border: none;
	height: 30px;
	box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
.set-address > button {
	cursor: pointer;
	height: 30px;
	padding: 0 10px;
	border: none;
	background-color: #f2f2f2;
	color: black;
	box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
/*------------------------------------------------------------------------------ Media queries ----------------------------------------------------------------------------------- */
@media only screen and (max-width: 920px) {
	.total__price {
		font-size: x-large;
	}
	.total__monthly-yearly {
		font-size: medium;
	}
	.total__description {
		font-size: small;
	}
	.total__button {
		font-size: medium;
		font-weight: 500;
	}
	.subHeader {
		font-size: x-large;
	}
	.option__title {
		font-size: large;
	}
	.option__price {
		font-size: medium;
	}
	.option__description {
		font-size: medium;
	}
	.option__button {
		font-size: medium;
		width: 150px;
	}
	.option__container {
		height: 350px;
	}
}
@media only screen and (max-width: 600px) {
	.container-flex--main {
		flex-flow: column;
		display: unset;
	}
	.total_container {
		display: flex;
		margin-top: 30px;
		border: none;
		position: sticky;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999;
		padding: 0;
		height: auto;
	}
	.sticky-stilying {
		height: 66px;
		display: flex;
		flex-flow: row nowrap;
	}
	.sticky-stilying > .total__description {
		display: none;
	}
	.sticky-stilying > .total__button {
		font-size: small;
		position: absolute;
		right: 0;
		margin: 0 5px 0 0;
		width: auto;
		padding: 10px 5px;
	}
	.sticky-stilying > .total__price,
	.sticky-stilying > .total__monthly-yearly {
		width: auto;
		margin: 0 0 0 10px;
	}
	.sticky-stilying > .total__monthly-yearly {
		font-size: small;
	}
	.total__description {
		margin: 0;
	}
	.description__container {
		width: 100%;
		text-align: center;
	}
	.option__container {
		width: 80%;
		margin: 0 auto 30px auto;
	}
	.subHeader {
		text-align: center;
	}
	.container-flex--secondary {
		padding-right: 0;
	}
	.option__button {
		right: 50%;
		transform: translateX(50%);
	}
	.container-flex--main {
		padding-right: 0;
	}
	.Show-Total {
		display: none;
	}
	.GoTopPage {
		width: 45px;
		height: 45px;
	}
	.GoTopPage > .css-i4bv87-MuiSvgIcon-root {
		padding: 1.5px;
	}
	.modal-container {
		width: 200px;
	}
	.description__addressContainer {
		flex-flow: column;
		margin-bottom: 20px;
	}
}
@media only screen and (max-width: 450px) {
	.set-address {
		margin-left: 0;
	}

	.description__location {
		flex-flow: column;
		width: 100%;
	}
}
